.loginButton{
    padding: 5px;
    width:150px;
    background-color: rgb(187, 187, 187);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border: 1px solid black;
    width: 100%;
 
}

.registerButton {
    padding: 5px;
    width:150px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border: 1px solid black;
    background-color: white;
    width: 100%;

}

.error {
    color: red;
}

.loginPage {
    text-align: center;
    border: 1px solid black;
    margin-left: 750px;
    margin-right: 750px;
    margin-top: 100px;
    border-radius: 15px;
}

.bodyLogin {
    padding: 30px;
}