.profile-page {
    text-align: center;
}

.textProfile  {

    margin-left: 300px;
    margin-right: 300px;
}

.peoplePage {
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
    
}
